.spacer {
  height: var(--header-height);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - var(--header-height));
  min-height: 500px;
}

/* About text and paragraph of text */

.textContainer {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 22px;
}

.left,
.right {
  flex: 1;
}

.left {
  display: flex;
  justify-content: flex-end;
}

.left > h4 {
  padding-right: 150px;
  font-weight: 300;
  font-size: 20px;
}

.center {
  flex: 4;
  font-weight: 300;
  line-height: 1.3;
  font-size: 20px;
  max-width: 700px;
}

.text-fade {
  color: transparent;
  background-image: linear-gradient(
    white 0%,
    white 33%,
    rgb(255, 255, 255, 0) 66%,
    rgb(255, 255, 255, 0) 100%
  );
  background-clip: text;
  background-size: 100% 300%;
  transition: background-position 2s;
}

/* Photos */

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.circle-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  -webkit-mask-image: linear-gradient(
    white 0%,
    white 20%,
    rgb(255, 255, 255, 0) 80%,
    rgb(255, 255, 255, 0) 100%
  );
  mask-image: linear-gradient(
    white 0%,
    white 20%,
    rgb(255, 255, 255, 0) 80%,
    rgb(255, 255, 255, 0) 100%
  );
  -webkit-mask-size: 100% 500%;
  mask-size: 100% 500%;
  -webkit-mask-position: bottom;
  mask-position: bottom;
  transition: none;
}

.animate-image-container {
  animation: mask-position 1.5s linear forwards;
  animation-delay: 0.65s;
}

@keyframes mask-position {
  0% {
    -webkit-mask-position: bottom;
    mask-position: bottom;
  }
  100% {
    -webkit-mask-position: top;
    mask-position: top;
  }
}

.circle-image {
  border-radius: 50%;
  box-shadow: 5px 5px 8px 3px rgb(32, 32, 32);
  object-fit: cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: width 0.3s ease-out, height 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.circle-image:hover {
  width: 110px;
  height: 110px;
  box-shadow: 5px 5px 12px 5px rgb(32, 32, 32);
}

.image-describe {
  position: absolute;
  left: -265px;
  z-index: 1;
}

.image-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-colour);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 95px;
  z-index: 1;
  transform: scale(0);
  transform-origin: center; /* Ensure the growth happens from the center */
}

.animate-image-icon {
  animation: image-icon-size 0.5s ease-out forwards;
  animation-delay: 1.5s;
}

@keyframes image-icon-size {
  0% {
    transform: scale(0); /* Start at scale 0 for both width and height */
  }
  85% {
    transform: scale(1.1); /* Grow slightly larger than final size */
  }
  100% {
    transform: scale(1); /* Settle at the final size */
  }
}

.image-tooltip-container {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 100;
  background-color: var(--container-colour);
  color: white;
  text-align: left;
  padding: 8px;
}

/* socials */

.social-container {
  display: flex;
  justify-content: center;
}

/* Image gallery dialog */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 8px;
  width: calc(100vh);
  height: 80%;
  min-height: 400px;
  min-width: 500px; /* maintain ratio to height */
}

.dialog-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.dialog-image-arrows-container {
  position: relative;
  margin: 10px;
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.dialog-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.dialog-image-container img {
  width: 100%;
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
}

.dialog-description-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.dialog-mid-expand {
  flex-grow: 1;
}

.dialog-arrow-container {
  position: absolute;
  display: flex;
  width: 35px; /* make sure icon doesnt grow bigger than this val */
  height: 40px;
  background-color: var(--container-colour);
  justify-content: center;
  align-items: center;
}

.dialog-button-area {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dialog-left,
.dialog-middle,
.dialog-right {
  display: flex;
  flex: 1;
  align-items: center;
}

.dialog-right {
  justify-content: flex-end;
}

.dialog-left,
.dialog-right {
  cursor: pointer;
}

.dialog-arrow {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.dialog-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-pagination-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
}

.dialog-pagination-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.dialog-pagination-dot {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  transition: box-shadow 0.3s ease-out;
}
