@import './variables.css';

html, body, #root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

p, pre, h4 {
  line-height: 1.5;
}

